{% extends 'base.html.twig' %}

{% block title %}Work In Progress{% endblock %}

{% block body %}
<div id="parent-font-page">
    <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 my-5">
                    <a href="https://home.studio-dev.fr/"><img class="img-fluid" src="/assets/logo/logo.svg" alt="Logo le studio dev création de site"></a>
                    <p class="mt-1 px-5" style="font-size: 1.1rem; color: rgb(234, 234, 234);">
                        <small>Nous travaillons actuellement sur le site que vous essayez de consulter.</small>
                    </p>
                </div>
                <div class="col-12 mb-3" style="margin-top: 280px;">
                    <h1 class="font-weight-light" style="color: white;">COMING SOON</h1>
                    <h3 class="font-weight-light" style="color: white;">Ce projet sera bientôt disponible... </h3>
                    <p style="color: rgb(234, 234, 234); padding-left: 17%; padding-right: 17%;">
                        <small>Des sites web réalisés à la main. Du sur mesure. Le plaisir de travailler ensemble. Faire de votre projet une réalité. Apporter tout notre savoir-faire pour un résultat extraordinaire.</small>
                    </p>
                </div>
                <div>
                    <div class="precube cube">
                        <div class="precube axis-switcher">
                            <div class="precube cube__comp">
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                            </div>
                            <div class="precube cube__comp">
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                                <div class="precube cube__face"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="container-fluid">
                    <div class="row">    
                    <div class="col-12 text-center">          
                        <div class="footer-copyright text-center py-4 mb-1 mt-2">
                            <small style="color: rgb(234, 234, 234);">© 2020 Copyright:
                                <a style="text-decoration: none; color: #fed136;" href="https://home.studio-dev.fr/">
                                    Le Studio #DEV
                                </a>
                            </small>
                        </div>                     
                    </div>
                    </div> 
                </div>
            </footer>   
    </div>
</div>    
{% endblock %}
