{% extends 'base.html.twig' %}

{% block title %}Work In Progress{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <div class="col-12 my-5">
            <img class="img-fluid" src="/assets/logo/logo.svg" alt="Logo le studio dev création de site">
            <p class="text-muted px-5">
                <small>Nous travaillons actuellement sur le site que vous essayez de consulter.</small>
            </p>
        </div>
        <div class="col-12 mb-5">
            <h1>Work in progress!!!</h1>
                <div class="progress my-3">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <h3>Ce projet sera bientôt disponible... </h3>
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab perferendis ipsa beatae sunt?
            </p>
        </div>
        <div class="col-12 mb-5">
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab perferendis ipsa beatae sunt? Maiores laudantium commodi, nisi culpa voluptate temporibus odit in quidem amet deleniti maxime perferendis quia cupiditate obcaecati.
            Ipsam eaque sed non. Amet, recusandae suscipit, sequi repellate cum consectetur cumque suscipit laborum praesentium iure illo maxime aspernatur cupiditate, quasi optio? Ipsum quam deleniti quo harum error? </p>
        </div>
    </div>

    <footer>
            <div class="container-fluid">
                <div class="row">               
                    <div class="text-center col-sm-4" style="margin-top: 48px;">
                        <p>
                            <strong>LE STUDIO #DEV</strong>
                            <br>
                            38 RUE DU 505IEME RCC
                            <br>
                            56000 VANNES
                            <br>
                            Siret:
                            <strong>00000014855236574</strong>
                        </p>
                    </div>
                    <div class="text-center col-sm-4" style="margin-top: 48px;">
                        <div>
                            De 10H à 18H du lundi au vendredi
                            <br>
                            au
                            <strong>09 65 02 08 92</strong>
                        </div>
                        <div class="mt-2">
                            Contactez-nous par mail :
                            <br>
                            <strong>contact.dev@m-lc.fr</strong>
                        </div>
                    </div>
                    <div class="text-center col-sm-4" style="margin-top: 40px;">
                        <div>
                            <a style="text-decoration: none;" href="https://concept-bootstrap-theme-1.m-lc.fr/">
                                <strong>LE STUDIO #DEV!</strong>
                            </a>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-primary" style="min-width: 140px;">
                                <a class="js-scroll-trigger" style="text-decoration: none; color: white;" href="https://studio-dev.fr/#services" target="_blank">Nos services</a>
                            </button>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-primary" style="min-width: 140px;">
                                <a class="js-scroll-trigger" style="text-decoration: none; color: white;" href="https://studio-dev.fr/#prix" target="_blank">Nos forfaits</a>
                            </button>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-primary" style="min-width: 140px;">
                                <a class="js-scroll-trigger" style="text-decoration: none; color: white;" href="https://studio-dev.fr/#contact" target="_blank">Contact</a>
                            </button>
                        </div>
                    </div>                     
                </div>
                <div class="footer-copyright text-center py-4 mb-1 mt-2">
                    <small>© 2020 Copyright:
                    <a style="text-decoration: none;" href="https://studio-dev.fr/">
                        STUDIO-DEV.FR
                    </a>
                    </small>
                </div>
            </div>
        </footer>
{% endblock %}
